Host * 
  AddKeysToAgent yes
  User andrew
  UseKeychain yes
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent Yes


###------------<??>-------------###


###------------EC2-------------###


###------------VBox-------------###

